In [124]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import VarianceThreshold

from sklearn.preprocessing import Imputer

import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(10)

In [54]:
train_data = pd.read_csv("./train_data.csv")
test_data = pd.read_csv("./test_data.csv")

In [55]:
train_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status
0,NaN,NaN,35000.0,35000.0,35000.0,60 months,15.59%,843.53,C,C5,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid
1,NaN,NaN,30000.0,30000.0,30000.0,60 months,20.50%,803.19,E,E1,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid
2,NaN,NaN,24200.0,24200.0,24200.0,60 months,17.86%,612.68,D,D5,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid
3,NaN,NaN,2000.0,2000.0,2000.0,36 months,9.49%,64.06,B,B2,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid
4,NaN,NaN,10000.0,10000.0,10000.0,60 months,17.99%,253.88,D,D2,...,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Fully Paid

In [56]:
X = train_data.drop('loan_status', axis=1)
y = train_data.loan_status
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.33, random_state=42)

In [57]:
# change target values to 1 and 0. 1:default

y_train.replace({'Fully Paid':0, 'Charged Off':1, 'Default':1}, inplace=True)
y_train.value_counts()

0    184799
1     48109
Name: loan_status, dtype: int64

In [70]:
# balance dataset
nondefault_indices = y_train[y_train == 0].index
remove_n = y_train.value_counts()[0] - y_train.value_counts()[1]
drop_indices = np.random.choice(nondefault_indices, remove_n, replace=False)

X_train.drop(drop_indices, inplace=True)
y_train.drop(drop_indices, inplace=True)

/home/gyanendra/anaconda2/envs/credit/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [72]:
print(X_train.shape)
print(y_train.shape)
print(y_train.value_counts())

(96218, 144)
(96218,)
1    48109
0    48109
Name: loan_status, dtype: int64

In [77]:
#checking if indices match
np.sum(y_train.index != X_train.index)

0

In [78]:
# find columns with 40% or more missing values
total_rows = X_train.shape[0]
columns_with_many_missing_values = []
for col in X_train.columns:
    if sum(X_train[col].isnull()) > total_rows/2.5:
        columns_with_many_missing_values.append(col)

In [79]:
# remove columns with 40% or more missing values
for col in columns_with_many_missing_values:
    X_train.drop(col, axis=1, inplace=True)

/home/gyanendra/anaconda2/envs/credit/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [83]:
# remove columns leaking data
columns_leaky = ["last_pymnt_d", ]

In [ ]:
# change dtype of columns

for col in X_train.columns:
    if X_train[col].nunique() < 50:
        X_train.loc[:, col] = X_train[col].astype('category')

In [130]:
# feature selection using variance threshold

selector = VarianceThreshold()
selector.fit_transform(X_train._get_numeric_data())

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [127]:
for col in X_train._get_numeric_data():
    print (col, np.var(X_train[col]))

loan_amnt 74124283.67509398
funded_amnt 74117307.38487117
funded_amnt_inv 74057081.41836156
installment 66592.36937301263
annual_inc 4489672609.889354
dti 83.643571026105
open_acc 29.968563703624095
revol_bal 427233618.3486656
total_acc 145.069931822288
out_prncp 632275.7193714532
out_prncp_inv 631801.6697873636
total_pymnt 90816525.34721729
total_pymnt_inv 90740619.51474433
total_rec_prncp 69220592.92389299
total_rec_int 6438180.422878411
total_rec_late_fee 116.45873745979827
recoveries 1756613.3770022795
collection_recovery_fee 52562.25663142696
last_pymnt_amnt 39897116.38317883
tot_coll_amt 4028333.805719758
tot_cur_bal 22246455344.15397
total_rev_hi_lim 941502045.1034204
avg_cur_bal 239312112.9487325
bc_open_to_buy 186327658.2077301
bc_util 771.5231350299588
delinq_amnt 903668.6980780957
mo_sin_old_il_acct 2791.2411114630913
mo_sin_old_rev_tl_op 8684.637778249788
mo_sin_rcnt_rev_tl_op 235.91301527594706
mo_sin_rcnt_tl 68.83401563911546
mths_since_recent_bc 888.0827512556983
num_bc_tl 23.304809943479384
num_il_tl 56.58546437151858
num_rev_accts 66.0364911311288
num_sats 29.90239298597992
pct_tl_nvr_dlq 74.13912481704126
percent_bc_gt_75 1279.772169943274
tot_hi_cred_lim 27490264414.73323
total_bal_ex_mort 2090152313.559767
total_bc_limit 399578320.6584555
total_il_high_credit_limit 1771183143.9752016

In [106]:
columns_categorical = []
for col in X_train.columns:
    if X_train[col].dtype.name == 'category':
        columns_categorical.append(col)
columns_categorical

['term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'pymnt_plan',
 'purpose',
 'delinq_2yrs',
 'inq_last_6mths',
 'pub_rec',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'acc_open_past_24mths',
 'chargeoff_within_12_mths',
 'mort_acc',
 'mths_since_recent_inq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_op_rev_tl',
 'num_rev_tl_bal_gt_0',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pub_rec_bankruptcies',
 'tax_liens',
 'hardship_flag',
 'disbursement_method',
 'debt_settlement_flag']